.firstclass{
    text-align:center;
    cursor:pointer;
    position:fixed;
    top:0px;
}
.firstlist{
    background-color:chocolate;
    font-size:44px;
    font-family: 'Faster One', cursive;
}
.firstlist:hover{
    color:cyan;
    background-color:dodgerblue;
}
body{
    text-align:center;
}